<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lumberjack</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">LumberJack</a>
                <ul class="nav">
                    <li class="active"><a href="#">Me</a></li> <!-- TODO user -->
                    <li><a href="#">People</a></li>
                    <li><a href="#">Exercises</a></li>                    
                </ul>
            </div>
        </div>

    </body>
</html>
